<div class="editor-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-10 offset-md-1 col-cs-12">
        <mc-backend-error-messages
          *ngIf="errorsProps"
          [backendErrors]="errorsProps"
        ></mc-backend-error-messages>
        <form [formGroup]="articleForm" (ngSubmit)="onSubmit()">
          <fieldset>
            <fieldset class="form-group">
              <input
                class="form-control form-control-lg"
                type="text"
                placeholder="Article Title"
                formControlName="title"
              />
            </fieldset>
            <fieldset class="form-group">
              <input
                class="form-control form-control-lg"
                type="text"
                placeholder="What is this article about"
                formControlName="description"
              />
            </fieldset>
            <fieldset class="form-group">
              <textarea
                class="form-control form-control-lg"
                rows="8"
                placeholder="write your article (in markdown)"
                formControlName="body"
              ></textarea>
              <fieldset class="form-group">
                <input
                  class="form-control form-control-lg"
                  type="text"
                  placeholder="Enter tags"
                  formControlName="tagList"
                />
              </fieldset>
              <fieldset>
                <button
                  class="btn btn-lg pull-xs-right btn-primary"
                  type="submit"
                  [disabled]="articleForm.invalid || isSubmittingProps"
                >
                  Publish Article
                </button>
              </fieldset>
            </fieldset>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
